<div class="who-am-i bg-cover bg-no-repeat bg-center h-svh flex items-center justify-center" [style.background-image]="'url(../../assets/img/background2.avif)'">
  <div class="container max-w-[85rem] mx-auto relative">
    <div class="max-w-[35rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 text-container"> <!-- Added a class name for the text container -->
      <ng-container *ngIf="isLoading || error">
        <div class="animate-pulse">
          <div class="h-8 bg-gray-200 rounded-full dark:bg-neutral-700 mb-4 w-3/5 sm:w-full"></div>
          <hr class="border-white py-3">
          <p class="h-4 bg-gray-200 rounded-full dark:bg-neutral-700 mb-4 w-2/5 sm:w-full"></p>
          <ul class="space-y-3">
            <li *ngFor="let item of skeletonItems" class="w-full h-4 bg-gray-200 rounded-full dark:bg-neutral-700"></li>
          </ul>
          <button class="relative bottom-0 left-0 ml-4 mb-4 sm:mb-0 sm:right-auto sm:left-auto inline-flex items-center justify-center w-20 h-20 rounded-full bg-gray-200 dark:bg-neutral-700 z-10" aria-label="Loading Button">
            <svg class="w-10 h-10 transform rotate-180 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path>
            </svg>
          </button>
        </div>
        <div *ngIf="error" class="text-red-500 mt-4">{{ error }}</div>
      </ng-container>

      <ng-container *ngIf="!isLoading && !error">
        <h1 class="font-bold text-3xl neon-color-full py-1">Back-end developer</h1>
        <hr class="border-white py-3">
        <p class="sm:max-w-md">{{ profileData?.biography.translations.en }}</p>
        <button id="toProjects" aria-label="To projects" (click)="scrollToProjects()" class="relative top-10 left-0 ml-4 mb-4 sm:mb-0 sm:right-auto sm:left-auto inline-flex items-center justify-center w-20 h-20 rounded-full text-white hover:bg-neon-color border-2 border-white z-0">
          <svg class="w-10 h-10 transform rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path>
          </svg>
        </button>
      </ng-container>
    </div>
  </div>
</div>
