@import "tailwindcss";

.neon-color-full {
  background: linear-gradient(81.02deg, #fa5560 -23.47%, #b14bf4 45.52%, #4d91ff 114.8%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
