<div class="container max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto" id="projects">
  <h1 class="font-bold text-3xl neon-color-full py-1">Projects</h1>
  <hr class="border-white py-3">

  <!-- Skeleton Loader and Error Message -->
  @if (isLoading || error) {
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 animate-pulse">
      <div class="card relative bg-[#131313] flex flex-col h-full border border-neutral-700 shadow-sm shadow-neutral-700/70 rounded-xl">
        <div class="flex flex-col card-img-container relative shadow-sm rounded-t-xl">
          <div class="w-full h-[28rem] bg-gray-200 dark:bg-neutral-700 rounded-t-xl"></div>
        </div>
        <h2 class="neon-color-full text-xl font-bold mt-4 bg-gray-200 dark:bg-neutral-700 rounded-full w-3/4"></h2>
        <p class="text-[#dddddd] mt-2 bg-gray-200 dark:bg-neutral-700 rounded-full w-full"></p>
        <p class="text-[#dddddd] mt-2 bg-gray-200 dark:bg-neutral-700 rounded-full w-full"></p>
        <p class="text-[#dddddd] mt-2 bg-gray-200 dark:bg-neutral-700 rounded-full w-3/4"></p>
      </div>
    </div>
    @if (error) {
      <div class="text-red-500 mt-4">{{ error }}</div>
    }
  }

  <!-- Actual Content -->
  @if (!isLoading && !error) {
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
      @for (project of projectsData; track project; let i = $index) {
        <div class="card relative group bg-[#131313] group flex flex-col h-full border border-neutral-700 shadow-sm shadow-neutral-700/70 rounded-xl transition-colors duration-250 hover:bg-[#1A202C]">
          <div (mouseout)="toggleImageHoverEffect(i)" (mouseover)="toggleImageHoverEffect(i)">
            <a [href]="project.githubUrl" target="_blank" class="flex flex-col">
              <div class="flex flex-col card-img-container relative shadow-sm rounded-t-xl">
                <img loading="lazy" [src]="'assets/img/'+ project.title.translations.en +'.avif'" alt="Project image for {{ project.title.translations.en }}" class="object-cover w-full h-[28rem] shadow-sm rounded-t-xl" height="200" width="300">
                <div class="absolute inset-0 bg-[#000000] opacity-0 group-hover:opacity-50 transition-opacity"></div>
              </div>
              <h2 class="card-title neon-color-full text-xl font-bold mt-4">{{ project.title.translations.en }}</h2>
            </a>
            <p class="card-description text-[#dddddd] mt-2">{{ project.description.translations.en }}</p>
          </div>
        </div>
      }
    </div>
  }
</div>
